
// Fonts
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Variables
@import "variables";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Page
@import "default";
//@import "index";
//@import "products";

@import "header";
@import "footer";
@import "product";
@import "home";
@import "list";



//@import "carousel";
//@import "owl.carousel";





