.carousel-wrap {
  margin: 0 auto;
  padding: 0 4.9%;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav button {
  margin: auto;
  position: absolute;
  top: 25%;

}

.owl-nav i {
  font-size: 32px;
  color: #404041;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-dots {
  display: none;
}

#product-carousel {

  .owl-nav button {
    top: 45%;
  }

  .owl-nav .owl-prev {
    left: -50px;
  }

  .owl-nav .owl-next {
    right: -50px;
  }

  .owl-nav i {
  font-size: 21px;
  color: #404041;
}

}


