body {
	background: #fff;
	font-family: Roboto, sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}


a:hover {
	color: #c6a9d7;
	text-decoration: none;
}

ul {
	margin: 0;
}

.fa {
	transition: .3s transform ease-in-out;
}

.collapsed .fa {
  transform: rotate(90deg);
}

/* Cicle Color */

.cicle-orange {
	background-color: #f15722;
}

.cicle-brown {
   background: #a52026;
}

.cicle-darkblue {
  background: #0268a6;
}

.cicle-lightblue {
	background: #75acce;
}

.cicle-shablue {
	background: #d7e1eb;
}

.cicle-black {
	background: #000;
}

.cicle-red {
	background: #c10e1f;
}

.cicle-green {
 	background: #369993;
}

.cicle-yellow {
	background: #ffce2b;
}

.cicle-darkbrown {
	background: #42413f;
}

.cicle-midlshadow {
	background: #b2afac;
}

.cicle-tirkis {
	background: #77cbe3;
}

.cicle-lightshadow {
	background: #e2e1d9;
}

.cicle-lightbrow {
	background: #b88568;
}

.cicle-pink {
	background: #9068b8;
}

.cicle-lightred {
	background: #ef0568;
}
.btn-secondary{
	border:1px solid #c6a9d7;
	background: #c6a9d7;
	color:white;
	font-family: Roboto, sans-serif;
	border-radius:0;
	margin-bottom: 30px;
}
input:focus{
	border:1px solid #c6a9d7 !important;

}
.btn-primary{
	background:black;
	font-family: Roboto;
	width: 150px;
	height: 35px;
	border: 1px solid black;
	border-radius: 0%;
	margin:5px;
}
.btn-secondary:hover,.btn-primary:hover{
	background: white;
	color:black;
	border: 1px solid black;
	border-radius: 0%;
}
.buttons{
	.btn-primary:hover{
		background: #c6a9d7;
		color:white;
		border:1px solid #c6a9d7;
	}
}
.btn-primary:focus,.btn-secondary:focus{
	box-shadow: none;
}
.btn-primary:active,btn-secondary:active{
	background: white !important;
	color:black !important;
	box-shadow: none !important;
	border-color: black !important;
}
.btn-sm{
	width: 140px;
	height: 30px;
	padding: 0.25rem 2.5rem 0.5rem 0.75rem !important;
}
.btn-norm{
  padding: 0.25rem 0.5rem !important;
}
.pading-normal{
	padding: 0.25rem 0.5rem !important;
	color:black;
	background-color: white;
	border:1px solid black;
}
.btn-lg{
	width: 200px;
	height: 40px;
}
.social_media_links{
	margin-bottom: 20px;
	.social_link{
		margin-right:15px;
		font-size:25px;
	}
}
.form-group{
	font-family: Roboto,sans-serif;
	input{
		border-radius: 0;
	}
}
.nav-tabs{
	font-size:20px;
	font-weight: 300;
	color:black;
	.nav-link:active,.nav-link:focus{
		border:none;
	}
	.nav-link:hover{
		border:none;
		color:black;
	}
	.nav-link{
		background: white!important;
		border:none;
		color:#7f7f7f;
	}
}
.tab-content{
	color:black;
	font-family:Roboto, sans-serif;
	h4{
		margin-bottom: 15px;
	}
}
.navbar-nav{
	border:none;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}
.navbar-toggler{
	margin:0 auto;
}
.nav-tabs{
	border:none;
}
h4{
  margin-top:10px;
}

.product{
  .farby{
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top:235px;
  }
}
.wrapper{
	width: 680px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	margin: auto;
	background: #fff;
	height: 520px;
	font-family: Roboto, sans-serif;
	border:1px solid black;
	.insider{
		font-size: 20px;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 20px;
		display: block;
		padding: 15px 0;
	}
	.atc-grey{
		font-size:12px;
		color:#7f7f7f;
	}
	.atc-color-name{
		width: 80%;
		font-size:12px;
		float: left;
		margin-top: 5px;
	}
	.atc-message {
		font-size: 20px;
		font-weight: 500;
		margin-top: 5px;
		margin-bottom: 20px;
		display: block;
		padding: 15px 0;
		margin-left: 50px;
	}
	.close{
		margin-right: 50px;
		margin-top: 10px;
	}
	.atc-product_name{
		font-size: 20px;
		font-weight: 500;
	}
	.atc-image {
		display: block;
		margin-left: 70px;
		max-width: 90%;
		max-height: 200px;
		overflow: hidden;
	}
	.atc-product {
		margin-top: 10px;
		font-size: 12px;
		margin-bottom: 25px;
		font-weight: 700;
		color: #7f7f7f;
	}
	.atc-text{
		margin-left: 0px;
		text-align: left;
		font-size:14px;
	}
}
.color{
	width: 25px;
	height: 25px;
	border-radius:50%;
	display:inline-block;
	margin-right: 10px;
	position: relative;
	.fajka{
		position: absolute;
		top:7px;
		left:5px;
	}
}
.small-color{
  width: 20px;
  height: 20px;
}
p,td,li{
  font-family: Roboto, sans-serif;
  font-size:14px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-family: Roboto, sans-serif;
}

h1{
	font-size:28px;
}
h2{
	font-size:24px;
	font-weight: 300 !important;
}
h3{
	font-size: 20px;
	margin-top: 15px;
}
.circle{
  float: left;
  position: relative;
  margin-right: 10px;
  border:1px solid #c69ad7;
  border-radius:50%;
  width: 25px;
  height: 25px;
  .otaznik{
    position: absolute;
    top:-4px;
    left:7px;
    color:#c69ad7;
  }
  .info{
    position: absolute;
    top:-3px;
    left:9px;
    color:#c69ad7;
  }
}
.atc-pink{
  color:#c69ad7;
  font-size:12px;
  float: left;
  margin-top: 5px;
}
label{
	font-size: 14px;
	font-weight: 500;
}
.contact{
	font-weight: 300;
	margin-bottom: 30px;
}
.cena{
  p{
    font-weight: 700;
  }
}
.breadcrumb{
	background-color:white !important;
}
.active-link{
	color:#c69ad7;
}
.header-shopping-num{
	font-size:49px;
}
.header-shopping-text{
	font-size:14px;
	margin-left: 0px !important;
}
.shop_table{
	margin-top: 40px;
	width: 100%;
	thead{
		border-bottom: 2px solid #ebeced;

		th{
			padding: 16px 12px;
		}
	}
	tbody{
		tr{
			background: #fafafa;
			border-bottom: 2px solid #ebeced;
		}
		tr:last-child{
			border-bottom: none;
		}
		tr:hover{
			background: #f5f5f5;
		}
		.img-cell{
			width: 100px;
		}
		.description-cell{
			width: 100%;
			float: left;
			margin-left: 20px;
			margin-top: 35px;
			.description-code{
				float:left;
				margin-bottom: 0px;
				color:lightgray;
				width: 70%;
			}
			.description-value{
				width: 100%;
				float:left;
			}
			.description-text{
				float:left;
				font-weight: 500;
				margin-right: 10px;
			}
			.atc-product{
				font-weight: 300;
				opacity:0.3;
			}
		}
		td{
			.count{
				font-size:34px;
			}
		}
	}
	.shopping-link{
		img{
			margin-top: 10px;
		}
	}
}
.iconlink{
	color:#c69ad7;
}
.iconlink:hover{
	color:black;
}
.profile-navbar{
	a{
		font-weight: 500;
		font-size:18px;
		border-bottom: 1px solid rgba(0,0,0,.05);
		border-top: 1px solid rgba(0,0,0,.05);
	}
	i{
		margin-top: 5px;
		float:right;
		color:#c69ad7;
		opacity: 0.5;
	}
	li:hover{
		i{
			opacity:1;
		}
	}
}
.required{
	label:after{
		margin-left: 5px;
		color:red;
		content:"*";
	}
}
.ship-box{
	position: relative;
	top: -3px;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
	padding: 15px 25px;
	margin-bottom: 15px;
	margin-top:30px;
}
.ship-box.active{
	border-color:black;
}
.doprava{
	h2{
		font-size: 1.5em;
		font-weight: 400;
		letter-spacing: -.01em;
		color: #090909;
		border-bottom: 1px solid #ebebeb;
		margin: 0 0 1.22em;
		line-height: 1.417em;
		padding-bottom: .447em;
	}
}
.doprava-mid{
	position: relative;
	.or-text{
		position: absolute;
		right: 50%;
		top: 50%;
		transform: translate(50%);
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 50%;
		border: 1px solid #ddd;
		font-style: italic;
		background-color: #fff;
		z-index: 1;
		display: block;
		font-size:1rem;
	}
}

@media screen and (max-width: 1198px) {
	.product{
		margin-left:5%;
	}
}

@media screen and (min-width: 100px) {
	.product{
		margin-left:0%;
	}
}
@media (max-width: 993px) {
	.border-head{
		border:none !important;
	}
}
