.footer{
	margin-top: 100px;
	color:white;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	background: black;
	.first-footer{
		margin-top:20px;
		padding-top:50px;
		padding-bottom:20px;
		div{
			input{
				margin-top:20px;
			}
		}
	}
	li{
		font-size: 12px;
		a{
			color:white;
		}
	}
	.menu{
		float:left;
		width: 100%;
	}
	li{
		float:left;
		h1{
			color: white;
			font-family: Roboto;
			font-weight: 300;
		}
	}
	ul{
		list-style: none;
	}
	.odstavec{
		margin-top: 2%;
		h1{
			font-size: 20px;
		}
		.downList {
			list-style: none;
			padding-left: 10px;
			color: white;
			font-size: 10px;
			li{
				width: 100%;
			}
		}
		p{
			font-size: 10px;
			color:white;
			margin-top:20px;
		}
		.menu{
			background-color: red;
			float:none;
			margin:0 auto;
			width: 200px;
			li{
				margin-left:4%;
				span{
					float:left;
					font-size: 25px;
					margin-right: 5px;
				}
			}
		}
	}
}
.images{
	margin-left:auto;
	margin-right:auto;
	img{
		margin-left:5%;
		padding-top:50px;
		padding-bottom: 50px;
		width: 150px;
	}
}
.inputEmail{
	input{
		padding:0.575rem 0.75rem;
		width: 200px;
	}
}