header{
	.contact-bar {
		width: 100%;
		height: 40px;
		margin: 0 auto;
		color: white;
		background-color: black;
		font-size: 12px;
		a {
			color: #fff;
			font-family: Roboto;
			font-weight: 300;
		}
		.container_left {
			.menu_links{
				list-style:none;
				margin-left: -20px;
				margin-top:12px;
				li{
					margin-right:10px;
				}
				a{
					display:block;
					text-transform: uppercase;
				}
			}
		}
		.container_right{
			.menu_personal {
				list-style: none;
				margin-top: 12px;
				li {
					margin-right: 20px;
				}
				.fa {
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}
		li{
			float:left;
		}
	}
	.search{
		margin:0 20px;
		font-size:14px;
		border: none;
		width: 150px;
		background-color: white;
		font-weight: 500;
		color:black;
	}
	.navbar{
		background:white;
		height: 50px;

		.container_left{
			width:40%;
		}
		.container_right{
			width: 40%;
		}
		.logo{
			margin-top:1%;
			float:right;
			width: 180px;
			height: 40px;
			margin-bottom: 10px;
		}
		img{
			margin-left:10%;
			margin-top:1%;
		}
		a{
			font-weight: 500;
			color:black;
			display:block;
			text-transform: uppercase;
		}
		.menu{
			list-style:none;
			padding-left:0;
			margin-top:1%;
			li{
				float:left;
			}
		}
		li{
			float:left;
			margin-left:30px;
		}
	}

	form{
		ul{
			font-size: 15px;
			list-style:none;
			display:block;
			color:black;
		}
		li{
			float:left;
			margin-left:10px;
		}
	}

	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}
	.sidenav a {
		font-family: Roboto;
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 15px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}.sidenav a:hover {
		 color: #f1f1f1;
	 }

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	@media (max-width: 500px){
		.fa-heart {
			display: none;
		}
		.menu{
			width: 210px;

		}
	}
	@media (max-width: 460px) {
		.fa-user {
			display: none;
		}
		.menu{
			 width: 160px;
		 }
	}
	@media (max-width: 420px){
		.fa-shopping-bag {
			display: none;
		}
		.menu{
			width: 120px;
		}
	}
	@media (max-width: 380px) {
		.fa-search {
			display: none;
		}
		.menu{
			width: 70px;
		}
		border-head{
			border:none !important;
		}
	}


	.background{
		position: fixed;
		z-index: 1;
		width: 1500px;
		height: 1000px;
		background-color: rgba(200,200,200,.5);
		display:none;
	}

}
.border-head{
	border-bottom: 1px solid lightgray;
}
