.banners{
  .img_logos{
    img{
      max-width: 150px;
    }
  }
  .container_images{
    position:relative;
    font-weight: 300;
    color:white;
    a{
      color:white;
    }
    a:hover{
      color:black;
    }
    img{
      margin-bottom: 20px;
    }
    .img_label{
      position:absolute;
      left:10%;
      padding:5px 10px;
      background-color: #c6a9d7;
      font-size:28px;
    }
    .small{
      width:200px;
      left: 20%;
    }
    .right{
      left:50%;
    }
  }
}

.img_logo{
  margin-top:30px;
}
.main_content_category{
  margin-top:30px;
}
.product{
  margin-top:30px;
  img{
    max-width: 150px;
    height: auto;
    float: left
  }
  h4{
    float: left;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .oldPrice{
    font-family: Roboto;
    font-weight: 100;
    color:grey;
    font-size: 15px;
    text-decoration: line-through;
  }
  .cena__product{
    float:left;
    font-family: Roboto !important;
    font-size: 20pt !important;
    font-weight: 400 !important;
  }
  p{
    font-size: 10px
  }
  .buttons{
    z-index: 5;
    width: 300px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -140px;
    display: none;
    a{
      margin-left:5px;
    }
  }
  max-height:369px;
  float:left;
  position: relative;
  .stars{
    opacity:0.4;
    position: absolute;
    left:50%;
    margin-left:-90px;
    width:170px;
    bottom:18%;
  }
  img{
    float:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:250px;
  }
  h4{
    margin-top:55px;
    margin-bottom: 20px;
    width:100%;
    text-align: center;
    font-size:13px;
    font-weight: 500;
  }
  .arrow__right{
    position: absolute;
    bottom: 50%;
    right: 0;
  }
  .arrow__left{
    position: absolute;
    bottom: 50%;
    left: 0;
  }
  .favorite{
    position: absolute;
    top:10px;
    right:5%;
    font-size:20px;
  }
  .label{
    background-color: #aad493;
    color:white;
    padding:3px 15px;
    position: absolute;
    top:10px;
    left:10px;
  }
  .akcia{
    background-color:#c6a9d7;
  }
  .top_label{
    background-color: #aad493;
  }
  .novinka{
    background-color: black;
  }
  .zlava{
    background-color:black;
    top:50px;
  }
  .detail{
    position: absolute;
    top:240px;

  }
  .kupit{
    position: absolute;
    top:240px;
  }
  .cena{
    p{
      text-align: center;
      font-size:16px;
    }
    width:100%;
    margin-top: 5px;
    font-weight:700;
  }
}
.product:hover{
  .buttons{
    display: block;
  }
  .farby{
    display: none;
  }
}
.services{
  margin-top: 20px;
  margin-bottom:50px;
  img{
    margin-bottom:20px;
  }
}
.blog{
  img{
    height:250px;
    width:auto;
  }
  .clanok{
    h2{text-align: left;}
    p{
      font-size:15px;
    }
  }
}
h2{
  font-size:20px;
  font-family: Roboto;
 }
.blog_picture{
  width: 450px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-img-top{
  width: auto;
  height: 250px;
  background-position:center ;
}
.card-title{
  margin-top: 40px;
}
.smallerProduct {
  max-width: 600px;
}
@media screen and (max-width: 1221px) {
  .smallerProduct {
    max-width: 268px;
  }
}
@media screen and (max-width: 1401px) {
  .smallerProduct {
    max-width: 320px;
  }
}
@media screen and (max-width: 1599px) {
  .smallerProduct {
    max-width: 360px;
  }
}
@media screen and (max-width: 1301px) {
  .smallerProduct {
    max-width: 290px;
  }
}
@media screen and (max-width: 1151px) {
  .smallerProduct {
    max-width: 220px;
  }
}
@media screen and (max-width: 1001px) {
  .smallerProduct {
    max-width: 400px;
  }
}
@media screen and (min-width: 501px) {
  .img_label{
    width:40%;
    bottom:70px;
    font-size:20px;
  }
}

@media screen and (max-width: 501px) {
  .img_label{
    width:40%;
    font-size:10px;
    bottom:50px;
  }
  .clanok{
    img{
      height:150px;
    }
  }
}