.main {

	&__content {

		&__category {

			.category {

				&--title {
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
				}

				&--products {

					.nav-tabs {
						border-bottom: 0px;

						.active {
							font-weight: 500;
						}
					}

					.nav-link {
						font-family: 'Open sans', sans-serif;
						font-size: 20px;
						background: #fff;
						border: 0px;
						border-radius: 0px;
						border-right: 1px solid #9a9a9a;
						padding-top: 0px;
						padding-bottom: 0px;
						font-weight: 100;
					}

					.tab-content {
						padding-top: 40px;
						padding-bottom: 40px;
					}
				}
			}

			.product-item {

				.colors {

					& {
						//position: absolute;
						margin-bottom: 20px;
						width: 100%;
						bottom: 0;
					}

					.cicle:first-child, .cicle:last-child {
						width: 20px;
						height: 20px;
						border-radius: 15px;
						display: inline-block;
						margin-bottom: 4px;
					}

					.cicle {
						content: "  ";
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 15px;
						margin: 0px 10px;
					}
				}

				.img-link {

					& {
						position: relative;
					}

					&:hover {
						.product-links {
							opacity: 1.0;
						}
					}

					.product-links {

						& {
							opacity: 0.0;
							    -webkit-transition: all 500ms ease-in-out;
							    -moz-transition: all 500ms ease-in-out;
							    -ms-transition: all 500ms ease-in-out;
							    -o-transition: all 500ms ease-in-out;
							    transition: all 500ms ease-in-out;
							position: absolute;
							width: 100%;
							bottom: 10px;
							z-index: 5555;
						}

						.product-link {
							padding: 10px 10%;
							background: #000;
							color: #fff;
							margin: 1%;
							margin-bottom: 3px;

							img {
								margin-right: 10px;
								width: 20px;
								float: left;
							}

						}

						.link-detail {
							float: left;
						}

						.link-order {
							float: right;
						}
					}

				}

				&-img {

					& {
						position: relative;
					}

					.product-tips {

							& {
								position: absolute;
								width: 100%;
								z-index: 55;
							}

							.panel {
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 16px;
								float: left;
								padding: 5px 30px;
								color: #fff;
							}

							.panel-action {
								background: #c6a9d7;
							}

							.panel-top {
								background: #aad493;
							}

							.panel-news {
								background: #383838;
							}

							.discount {
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 16px;
								float: left;
								background: #000;
								color: #fff;
								padding: 5px 10px;
								display: block;
								margin-top: 10px;
							}

							.like {
								padding-bottom: 10px;
								text-align: right;
								width: 35px;
								float: right;
    							margin-left: 56%;
							}
					}
				}
			}

			.product-name {
				font-family: 'Roboto', sans-serif;
				font-size: 20px;
				font-weight: 400;
				padding-left: 10px;
				padding-right: 10px;
			}

			.product-price {
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 24px;
			}
		}


		&__banners-top {

			& {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.img {

				&--wrapper {
					position: relative;
				}

				&--label {
					position: absolute;
					bottom: 40px;
					left: 40px;
					background: #c6a9d7;
					color: #fff;
					font-family: 'Roboto', sans-serif;
					font-weight: 100;
					font-size: 32px;
					padding: 5px 20px;
				}

				&--logos {

					& {
						padding-top: 10px;
						padding-bottom: 10px;
					}

					.img--logo {
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}
		}

		&__banners-bottom {

			& {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.img {

    				&--wrapper {
    					position: relative;
    				}

    				&--label {
    					position: absolute;
						bottom: 40px;
						left: 40px;
						background: #c6a9d7;
						color: #fff;
						font-family: 'Roboto', sans-serif;
						font-weight: 100;
						font-size: 32px;
						padding: 5px 20px;
    				}
    			}


			.col-big {
				-webkit-box-flex: 0;
    			-ms-flex: 0 0 45.08943089%;
    			flex: 0 0 45.08943089%;
    			max-width: 45.08943089%;
    			padding-right: 3.25203252%;
    			padding-left: 15px;
			}


			.col-small {
				position: relative;
				-webkit-box-flex: 0;
    			-ms-flex: 0 0 25.11924119%;
    			flex: 0 0 25.11924119%;
    			max-width: 25.11924119%;
    			padding-right: 2.25203252%;
			}

			.banners-label {
				padding-left: 20px;
				font-size: 32px;
				font-family: 'Roboto', sans-serif;
				font-weight: 100;
				position: relative;
				bottom: -60px;
				color: #fff;
				padding: 65px 20px 60px 80px;

				h2 {
					font-weight: 100;
					font-size: 32px;
				}
			}

			.label-pink {
				background: #c6a9d7;
				background-image: url('../images/label-bg1.png');
				background-repeat: no-repeat;
				background-position: bottom 20px left;
				background-size: 121px;
			}

			.label-brown {
				background: #d9c8ac;
				background-image: url('../images/label-bg2.png');
				background-repeat: no-repeat;
				background-position: top 70px left 30px;

			}
		}

		&__services {

			& {
				font-family: 'Open sans', sans-serif;
				font-weight: 300;
			}

			.services-img {
				height: 70px;
				margin-bottom: 15px;
			}

			.adress {
				display: block;
				font-weight: 500;
			}
		}

		&__blognews {

			& {
				font-family: 'Roboto', sans-serif;
				padding-top: 30px;
				padding-bottom: 30px;

			}

			.blog {

				&--heading {
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;

					h2 {
						font-weight: 300;
						font-size: 2em;
					}
				}

				&--articles {

					.card {
						border: 0px;
						border-radius: 0px;

						.card-img-top {
							height: 280px;
							background-size: cover;
							background-position: center center;
						}

						.card-body {
							padding-right: 0px;
							padding-left: 0px;

							.card-title {
								font-size: 1.4em;
								font-weight: 300;
							}

							.card-text {
								font-size: 14px;
								font-weight: 300;
								min-height: 80px;
							}

							.btn-custom {
								border-radius: 0px;
								background: #c6a9d7;
								color: #fff;
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}


.col-md-35 {

}