.category_top_choice{
  h1{
    width:100%;
  }
  .filter_top{
    ul{
      list-style:none;
      padding-left:10px;
    }
    li{
      margin-bottom:7px;
      font-size: 16px;
      font-weight: 500;
      i{
        margin-right:7px;
      }
      a:selected{
        font-weight:700;
      }
    }
  }
}
.content_list{
  background-color: white;
}

.filters{
  .woocommerce-ordering{
    select{
      padding:12px 20px 12px 20px;
      border:1px solid #ebebeb;
    }
  }
  .menu{
    li{
      margin-right:20px;
    }
  }
}
.load-more{
  position: relative;
  margin-bottom: 30px;
  .load-more-btn{
    position: absolute;
    left: 50%;
    margin-left:-75px;
    margin-top:-5px;
  }
  .page-numbers{
    list-style: none;
    h4{
      font-size:18px;
    }
    li{
    }
  }
}

@media screen and (min-width: 100px) {
  .page-numbers{
    margin:50px auto;
  }
}

@media screen and (min-width: 768px) {
  .page-numbers{
    margin:0 auto;
  }
}


