.product_detail{
  width: 100%;
  .row{
    .container{
      width: 100%;
    }

    .gallery{
      max-width:100px;
      display:block;
      margin-top:50px;
      img{
        margin: 10px;
      }
    }
    .displayedPicture{
      margin-left:15%;
      margin-top:150px;
      max-width: 240px;
    }
    .productDescription{
      width: 100%;
      max-width: 700px;
      .title{
        width: 100%;
        .bigimg{
          float:right;
          margin-right:70px;
          margin-top: -75px;
        }
      }
      .cena p {
        font-family: Roboto;
        font-size: 20pt;
        font-weight: 400;
      }
      .color-text{
        font-size: 12px;
      }
      .oldPrice{
        margin-top: 130px;
        font-family: Roboto;
        font-weight: 100;
        color:grey;
        font-size: 15px;
        text-decoration: line-through;
        margin-bottom: 0px;
      }
      div{
        display: block;
        float:left;
      }
      .farby{
        width:100%;
        max-width: 600px;
        margin-bottom: 10px;
        .pallete{
          width: 300px;

          margin-top: 20px;
        }
      }
      .count{
        margin-bottom: 30px;
        .menu{
          li{
            font-size: 25px !important;
          }
        }
      }
      .technical_parameters{
        width: 100%;
        margin-bottom: 20px;
        h3{
          font-size: 20px;
          font-family: Roboto;
          font-weight: 400;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        table{
          td{
            margin:200px 10px;
          }
        }
        td{
          width: 250px;
        }
      }
      .buyNow{
        width: 150px;
        height: 30px;
        background: black;
        color: white;
      }
      .buyNow2{
        width: 100px;
        height: 30px;
        background: black;
        color: white;
        margin: -70px -50px;
      }
      .buyNow p{
        margin: 5px 60px;
      }
      .buyNow2 p{
        margin: 5px 33px;
      }

      h4{
        margin-bottom: 15px;
      }
      .page{
        a{
          width: 100%;
          margin-bottom: 20px;
          color:black;
          text-transform: none;
          font-size: 25px;
          text-decoration: none;
        }
      }
      div table{
        border-collapse: separate;
        border-spacing: 0px 10px;
      }
    }
  }
}
.menu{
  display: block;
  li{
    list-style:none;
    float:left;
    margin-left: 2px;
    span{
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 800px)  {
  .oldPrice{
    margin-top:200px !important;
  }

}
@media screen and (max-width: 450px)  {
  .displayedPicture{
    margin-left: 0px !important;
  }
}