.main {

	& {
		min-height: 560px;
		position: relative;
	}

	&.nav-active {

		.main__aside__menu {
			left: 0;
			height: 100%;
			background: #fff;
			bottom: 0;
			z-index: 999;
		}

		.main__content {
			width: calc(100% - 300px);
			left: 300px;

		}
	}

	&__aside {

		& {
			min-height: 1000px;
		}

		&__menu {

			& {
				width: 300px;
				position: absolute;
				left: -300px;
				transition: left 0.5s linear;
				z-index: 999;
				background: #fff;
    			height: 100%;
			}
			&__list {

				.card {
					border: none;

					.card-header {
						font-family: 'Roboto', sans-serif;
						background-color: #fff;
						font-size: 16px;
						padding: 0;

						.btn-link {
							color: #000;
							text-decoration: none;
							text-transform: uppercase;
							white-space:normal;
						}

						button {
							padding: 18px 10px 19px 22px;
							width: 100%;
							height: 100%;
							font-weight: 500;
							text-align: left;
							cursor: pointer;

							.card-icon {
								float: right;
								margin-top: 4.5px;
							}
						}
					}

					.card-body {
						padding-left: 0;
						padding-right: 0;

						.list__dropdown__item:hover {
							color: #c6a9d7;
						}
					}

					.list__dropdown {
						list-style: none;
						padding-left: 20px;
						line-height: 20px;

						.list__dropdown__item {
							line-height: 35px;
						}

						.list__dropdown__item a:hover {
							text-decoration: none;
							color: #c6a9d7;
						}
					}
				}

				.card-icon-2 {
					float: right;
					margin-top: 10.5px;
				}
			}

		}
	}

	.aside-phone {
		display: none;
		padding: 10px;
	}

	&__content {
		font-family: 'Open Sans', sans-serif;

		position: relative;
		width: 100%;
		left: 0;
		transition: all 0.5s linear;
		padding-left: 15px;

		&__breadcrumb {
			padding: 10px 0;

			.list-inline-item {

				& {
					font-size: 15px;
				}

				.img-home {
					width: 22px;
					height: 20px;
					margin-bottom: 6px;
					margin-right: 5px;
				}

				&:after {
					padding-left: 10px;
					content: '>';
					color: #676767;
				}

				&:last-child:after {
					content: "\00a0";
				}

				&:first-child a {
					color: #676767;
				}
			}
		}

		&__head {
			.main-title {
				font-size: 40px;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
		}

		&__section {

			&__productlist {

				& {
					margin-top: 5px;
					margin-top: 35px;
					margin-bottom: 35px;

				}

				.product-list-item {
					padding: 0px;
					display:block;

					.active {
						a {
							font-weight: 600;
						}
					}

					li {
						display:inline-block;
						width: 32.5%;
						font-size: 17px;
						padding-bottom: 10px;

						a {
							padding-left: 5%;
						}
					}

					li:before {
						content:'→';
						padding-left: 10px;
					}
				}
			}

			&__producttext {

				p {
					font-weight: 100;
					line-height: 1.8em;
					text-align: justify;
				}

				.hidden {
					display: none;
				}
			}

			h1 {
				font-family: 'Roboto', sans-serif;
				font-size: 40px;
				font-weight: 700;
				margin-top: 10px;
			}
		}

		&__image {
				.section--img {
					height: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
				}
			}


		&__filter {

			& {
				font-family: 'Open sans', sans-serif;
			}

			.filterBlock {
				display: inline-block;
				padding-left: 40px;
				position: relative;

				.filter-icon {
					height: 28px;
				}
			}

			.float-right {

				padding-right: 0px;
				padding-top: 5px;
				padding-bottom: 5px;


				.filterBlock {
					padding-left: 10px;

					.filterBlock-title:hover {
						color: #fff;
					}
				}
			}

			.right-filter {

				& {
					padding-top: 5px;
					padding-bottom: 5px;
					text-align: right;
				}

				.filterBlock {
					padding-left: 20px;
				}

				.order {

				& {
					padding: 0;
				}

				a {
					line-height: 0;
					background: black;
					color: white;
					position: relative;
					top: 3px;
					padding-bottom: 2px;
					padding-top: 0px;
					color: #fff;
					padding: 5px 20px 5px 10px;

					img {
						margin-right: 15px;
					}
				}

			}}



			.filterBlock-title {
				font-size: 18px;

				&:hover {
					color: #000;
				}

				img {
					width: 15px;
					margin-left: 10px;
				}
			}

			.filterBlock-container {

				& {
					border: 1px solid #e8e8e8;
					display: none;
					top: 40px;
					position: absolute;
					z-index: 888;
					width: 310px;
					background: #fff;
					padding: 20px;
				}

				.filterBlock-item {
					font-weight: 100;
					position: relative;
				    line-height: 24px;
				    min-height: 24px;
				    display: block;
				    color: #666;
				    padding-left: 35px;
				    margin-bottom: 11px;

					&:hover {
						color: #999;
					}
				}

				.filter-choose:before {
					content: " ";
				    width: 24px;
				    height: 24px;
				    position: absolute;
				    left: 0;
				    top: 50%;
				    margin-top: -12px;
				    -webkit-box-sizing: border-box;
				    box-sizing: border-box;
				    background: #dcdcdc;
				}

				.filter-color {

					.filterBlock-item-colorTile {
						width: 24px;
    					height: 24px;
    					position: absolute;
    					left: 0;
    					top: 0;
    					z-index: 1;
					}
				}

				.product-filter {
					margin: 10px 0 0 0;
					border-top: 2px solid #f7f7f7;
					padding: 10px 0;

					.product-filter-item {
						display: inline-block;
						width: 48%;
						padding: 10px;
						background: #303030;
						color: #fff;
						text-align: center;
						font-weight: 500;
					}

					.item-clear {
						float: left;
						margin-right: 2%;
						background: #fff;
						color: #999;
						border: 2px solid #fff;

						&:hover {
							color: #303030;
						}
					}

					.item-apply {
						float: right;
						margin-left: 2%;
						border: 2px solid #303030;

						&:hover{
							background: #fff;
							border: 2px solid #303030;
							color: #303030;
						}
					}
				}
			}

			.order-filter {
				right: 0;
				padding: 0;

				.order-filter-item {
					display: block;
					padding: 10px;
				}
			}

			p {
				display: inline-block;
				margin: 0;
				font-size: 18px;
				font-family: 'Open sans', sans-serif;
			}

			& {
				padding-top: 30px;
			}

			.active {
				display: block;
			}
		}

		&__products {

			& {
				padding-bottom: 65px;
			}

			.product-item {

				& {
					margin-top: 70px;
				}

				.img-link {

					& {
						position: relative;
					}

					&:hover {
						.product-links {
							opacity: 1.0;
						}
					}

					.product-links {

						& {
							opacity: 0.0;
							    -webkit-transition: all 500ms ease-in-out;
							    -moz-transition: all 500ms ease-in-out;
							    -ms-transition: all 500ms ease-in-out;
							    -o-transition: all 500ms ease-in-out;
							    transition: all 500ms ease-in-out;
							position: absolute;
							width: 100%;
							bottom: 30px;
							z-index: 5555;
						}

						.product-link {
							padding: 10px 10%;
							background: #000;
							color: #fff;
							margin: 1%;
							margin-bottom: 3px;

							img {
								margin-right: 10px;
							}

						}

						.link-detail {
							float: left;
						}

						.link-order {
							float: right;
						}
					}

				}

				.colors {

					& {
						//position: absolute;
						margin-bottom: 20px;
						width: 100%;
						bottom: 0;
					}

					.cicle:first-child, .cicle:last-child {
						width: 20px;
						height: 20px;
						border-radius: 15px;
						display: inline-block;
						margin-bottom: 4px;
					}

					.cicle {
						content: "  ";
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 15px;
						margin: 0px 10px;
					}
				}

				&-img {

					& {
						position: relative;
					}

					.product-tips {

							& {
								position: absolute;
								width: 100%;
								z-index: 55;
							}

							.panel {
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 16px;
								float: left;
								padding: 5px 30px;
								color: #fff;
							}

							.panel-action {
								background: #c6a9d7;
							}

							.panel-top {
								background: #aad493;
							}

							.panel-news {
								background: #383838;
							}

							.discount {
								font-family: 'Roboto', sans-serif;
								font-weight: 300;
								font-size: 16px;
								float: left;
								background: #000;
								color: #fff;
								padding: 5px 10px;
								display: block;
							}

							.like {
								padding-bottom: 10px;
								text-align: right;

							}
					}


				}
			}

			.product-name {
				font-family: 'Roboto', sans-serif;
				font-size: 20px;
				font-weight: 400;
				padding-left: 10px;
				padding-right: 10px;
			}

			.product-price {
				font-family: 'Roboto', sans-serif;
				font-weight: 700;
				font-size: 24px;
			}

			.paginations-more {
				padding-top: 40px;
				paddding-bottom: 40px;

				.btn-custom {
					background: #000;
					color: #fff;
					padding: 10px 60px;
					border-radius: 0px;
					font-size: 16px;
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
					margin-left: 259px;
				}

				.nav-pagination {
					display: inline-block;
					float: right;

					.pagination {

						i {
							padding: 0 20px;
							width: 18px;
							color: #000;
						}

						.disabled {
							i {
								color: #909090;
							}
						}

						.page-link {

							font-family: 'Roboto', sans-serif;
							font-weight: 300;
							font-size: 18px;
							border: 0px;
							color: #909090;
							padding: 11.5px 12px;

							&:hover {
								background: #fff;
								color: #000;
							}
						}

						.active {
							.page-link {
								color: #000;
								background: #fff;
								font-weight: 400;
							}
						}
					}


				}
			}
		}
	}
}

#accordion-2  {

	.active {
		color: #c6a9d7;
		font-weight: 600;
	}

	.list__dropdown .list__dropdown__item:nth-child(2) {

		a {
			border-bottom: 2px solid #000;
			font-weight: 600;

		}

		a:hover {
			color: #000;
		}
	}
}

@media (max-width: 1798px) {
	.main {

		&__content {

			&__section {

				&__productlist {

					& {
						margin-top: 15px;
						margin-bottom: 15px;
					}

					.product-list-item li {
						width: 45%;
						white-space: nowrap;
    					overflow: hidden;
    					text-overflow: ellipsis;
					}
				}

				&__producttext {

					p {
						height: 50px;
						overflow: hidden;
						margin: 0;
					}

					.hidden {
						display: block;
					}

				}
			}
		}
	}
}

@media (max-width: 1562px) {

	.main {

		&__content {

			&__products {

				.product-item {

					.img-link {

						.product-links {

							& {
								bottom: 0;
							}

							.link-order {
								float: left;
							}
						}

						.img-wrapper {
							min-height: 220px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1464px) {
	.main {
		&__content {

			&__products {



				.product-item {

					.colors {
						.cicle {
							margin: 0 5px;
						}

					}
				}

				.product-name {
					font-size: 17px;
				}
			}
		}
	}
}

@media (max-width: 1316px) {
	.main {

		&__content {


		}
	}
}

@media (max-width: 1240px) {

	.main {

		&.nav-active {

		.main__aside__menu {
			top: 0;
			bottom: 0;
			background: #fff;
			z-index: 100;
			height: 100%;
			bottom: 0;
		}

		.main__content {
			left: 0;
			width: 100%;

		}

		.overlay__white {
			display: block;
		}
	}

	}

}

@media (max-width: 1199.98px) {

.main {
		&__content {

			&__products {

				.product-item {

					.img-link {

						.product-links {

							.link-order {
								float: right;
							}
						}
					}
				}
			}

			&__filter {

				p {
					display: none;
				}

				.filterBlock {
					padding-left: 0px;
					padding-right: 5px;
				}

			}
		}
	}
}

@media (max-width: 991.98px) {
	.main {
		&__content {
			&__products {
				.paginations-more {
					.nav-pagination {
						float: none;
						display: block;
						margin-bottom: 20px;

						.pagination {
							width: 100%;
							justify-content: center;
						}
					}

					.btn-custom {
						margin: 0 0 0 10px;
					}
				}
			}
		}
	}
}


@media (max-width: 767.98px) {

	.main {

		&__content {

			& {
				padding-left: 0px;
			}

			&__image {
				display: none;
			}
		}

		.aside-phone {
			display: block;
		}
	}
}

@media (max-width: 575.98px) {

	.main {

		&__content {

			& {
				padding-left: 0;
			}
		}
	}
}

@media (max-width: 334px) {


	.main {

		&__content {

			&__products {

				.product-item {

					.img-link {

						.product-links {

							.link-order {
								float: left;
							}

						}


					}
				}
			}
		}
	}
}



// Color firlter for design

